$primary: blue;
$secondary: red;
$tertiary:green;
.text-blue {
    color: $primary;
}

.text-red {
    color: $secondary;
}

.text-green {
    color: $tertiary;
}

.bg-green {
    background-color: $tertiary;
}

.bg-red {
    background-color: $secondary;
}

.bg-blue {
    background-color: $primary;
}